.login-container{
	padding: 25px 85px;
	width: 50%;
	margin: 0 auto;
}
.login-container h1{
	text-align: center;
	padding-bottom: 10px;
}
.header .text h1{
	margin-top:26.800px;
	font-weight: 600;
}
.bcustom{
	width: 100%;
	background-color: #ffb939;
}
.bcustom:hover{
	background-color: #ff9800;
}
.left{
	float: left;
}
.right{
	float: right;
}
.left a{
	text-decoration: none;
}
.right a{
	text-decoration: none;
}